Repository anazworth/threadit: changes, and which Jenkins stages are due for each by the changed paths.
All: Auth-Service Build, Auth-Service Test, Krakend Test, Auth-Service Push

Jenkinsfile:

pipeline {
    agent any

    stages {
      stage('Build') {
          failFast false
          parallel {
              stage('Auth-Service Build') {
                  when {
                      changeset "AuthService/**"
                  }
                  steps {
                      dir('AuthService') {
                        sh './gradlew build'
                      }
                  }
                }
            }
      }
      stage('Test') {
          failFast false
          parallel {
              stage('Auth-Service Test') {
                  when {
                      changeset "AuthService/**"
                  }
                  steps {
                      dir('AuthService') {
                        sh './gradlew test'
                      }
                  }
                }

                stage('Krakend Test') {
                    when {
                        changeset "krakend/**"
                    }
                    steps {
                        sh 'docker run -v krakend:/etc/krakend/ devopsfaith/krakend check -tlc krakend.json'
                    }
                  }
            }
      }
      stage('Push to Registry') {
          failFast false
          parallel {
              stage('Auth-Service Push') {
                  when {
                      changeset "AuthService/**"
                  }
                  environment {
                      DOCKER_REGISTRY = credentials('DockerHub')
                  }
                  steps {
                      dir('AuthService') {
                        sh './gradlew bootBuildImage --imageName=anazworth/auth-service:latest'
                        sh 'echo $DOCKER_REGISTRY_PSW | sudo docker login -u $DOCKER_REGISTRY_USR --password-stdin'
                        sh 'docker push anazworth/auth-service:latest'
                      }
                  }
                }
          }
      }
    }
}

Deleted unnecessary controller
  AuthService/src/main/java/com/threadit/AuthService/User/UserController.java
Due: Auth-Service Build, Auth-Service Test, Auth-Service Push

Jenkinsfile
  Jenkinsfile
Due: none

update krakend
  krakend/krakend.json
Due: Krakend Test

update compose
  compose.yaml
Due: none

Update README.md
  README.md
Due: none

add cicd diagram
  diagrams/CICD_Diagram.png
Due: none

Change diagram
  diagrams/architecture_diagram.png
Due: none

Update Readme
  README.md
Due: none

Add HTTP request to verify user by session id
  AuthService/src/main/java/com/threadit/AuthService/User/UserController.java
Due: Auth-Service Build, Auth-Service Test, Auth-Service Push

Add HTTP request to verify user by session id
  PostService/src/main/java/com/threadit/postservice/Post/PostController.java
Due: none
